@font-face {
    font-family: 'Run';
    src: url(fonts/Run.ttf) format('truetype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #16181a;
    margin: 0;
    padding: 0;
}

#timer {
    font-size: 20px;
    margin-top: 20px;
}

button {
    background-color: #7f33a5;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 2px;
}

.container {
    max-width: 400px;
    margin: 3rem;
    background-color: #292b2e;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.input-text {
    color: #ffffff;
}
h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Run';
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #a04cca;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.completed {
    text-decoration: line-through;
    color: #888888;
}

.center {
    display: flex;
    align-self: center;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    margin: 2rem;
}

.taskItem-div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

